
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    

    <title>U Tasks</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          <img src="https://cdn.pixabay.com/photo/2012/04/24/12/52/letter-39909_1280.png" width="30" height="30" alt="" loading="lazy">
          U Tasks
        </a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
              <h2>Write your task</h2>
              <form action='addtask' method='post'>
                {% csrf_token %}
                <div class="form-row">
                  <div class='col-11'>
                    <input id='new_task' class="form-control" type="text" placeholder="Task" name='new_task'>
                  </div>
                  <button type="submit" class="btn btn-primary">SUBMIT</button>
                </div>
              </form>

              {% for task in query %}
              <ul class="list-group">
                <form action='removetask/{{task.id}}' method='post'>
                  {% csrf_token %}
                  <li class="list-group-item">{{task.text}}
                    <div class='float-right'>
                      <button type="submit" class="btn btn-outline-danger">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-minus-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6 7.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
                        </svg>
                      </button>
                    </div>
                  </li>
                </form>
              </ul>
              {% endfor %}
            </div>
        </div>
    </div>

    

    </body>
</html>